<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="aefi-flex" >
                    <div>
                        <h5>AEFI Reported</h5> 
                    </div>
                    <div>
                        <h6>{{Aefi_percent}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="lineChartAefi" height="320px" width="800px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <h3>Rural vs. Uraban Trend</h3>
                <div class="card-body">
                    <canvas id="barChartRural" height="320px" width="800px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>